body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background: #121212;
  color: white;
}

/* HEADER */
.header {
  padding: 35px 15px 10px;
}

/* SEARCH */
#search {
  width: calc(100% - 32px);
  margin: 10px 16px;
  padding: 12px;
  border-radius: 25px;
  border: none;
  background: #2a2a2a;
  color: white;
}

/* CHIPS */
#chips {
  display: flex;
  overflow-x: auto;
  padding: 10px;
}

#chips button {
  margin-right: 10px;
  padding: 8px 14px;
  border-radius: 20px;
  border: 1px solid #66bb6a;
  background: transparent;
  color: #66bb6a;
}

/* GRID */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 15px;
  padding: 10px;
  padding-bottom: 110px;
}

/* CARD */
.card {
  position: relative;
  background: #1e1e1e;
  border-radius: 20px;
  padding: 15px;
  cursor: pointer;

  transform: scale(0.95);
  opacity: 0;
  animation: fadeIn 0.4s ease forwards;
}

@keyframes fadeIn {
  to {
    transform: scale(1);
    opacity: 1;
  }
}

/* HEART */
.heart {
  position: absolute;
  top: 12px;
  right: 12px;
  cursor: pointer;
  transition: transform 0.2s;
}

.heart:active {
  transform: scale(1.4);
}

/* POPUP */
.popup {
  position: fixed;
  bottom: -100%;
  width: 100%;
  background: #1e1e1e;
  padding: 20px;
  border-radius: 25px 25px 0 0;
  max-height: 75%;
  overflow-y: auto;
  transition: bottom 0.4s ease;
}

.popup.show {
  bottom: 0;
}

.hidden {
  display: none;
}

/* BACK BUTTON */
.back-btn {
  position: absolute;
  top: 15px;
  left: 15px;

  background: rgba(255,255,255,0.1);
  border-radius: 50%;
  padding: 10px;
  border: none;
  color: white;
}

/* NAV */
.bottom-nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #1e1e1e;
  display: flex;
  justify-content: space-around;
  padding: 12px;
}

.bottom-nav button {
  background: none;
  border: none;
  color: #aaa;
}

.bottom-nav button.active {
  color: #66bb6a;
}

/* MUSIC */
.music-player {
  position: fixed;
  bottom: 70px;
  left: 10px;
  right: 10px;
  background: #1db954;
  color: black;
  padding: 12px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
}
